.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(0, 1, 59),black);
    padding: 0px 30px;
}

.post-illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-illustation-image {
    width: 550px;
    height: 550px;
    border-radius: 20px;
}

.post-illustration-container,
.post-illustration-container-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 20px 0px 20px;
    padding-bottom: 5px;
    background-color: #111;
    width: 100%;
    border-radius: 20px;

}

.post-illustration-container-icons-i,
.post-illustration-container-icons-p {
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}


.post-information {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 610px;
    background-color: #111;
    padding: 50px;
    margin: 10px;
    border-radius: 20px;
}

.post-infomation-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.post-information-picture{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.post-information-creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0px 30px 15px;
    color: rgb(0, 31, 207);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.nocomments {
    color: rgb(0, 31, 207);
    font-size: 20px;
}



.post-information-comments,
.post-information-description {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}


@media screen and (max-width: 1030px) {
    .post {
        flex-direction: column;
        height: 100%;
        padding: 150px 0px;
    }

    .post-information {
        height: 100%;
    }
}

@media screen and (max-width: 650px) {
    .post-information {
        width: 90%;
    }
    .post-illustration {
        width: 90%;
    }
    
    .post-illustation-image {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-height:1150px) {
    .post {
        height: 100vh;
    }
    .post-information {
        height: 500px;
    }
}