.cardcomments {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}

.cardcomments-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

.cardcomments-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardcomments-message-creator {
    font-weight: 500;
    font-size: 18px;
    color: rgb(0, 31, 207);
    cursor: pointer;
}

.cardcomments-message-content{
    font-size: 16px;
    color: #fff;
}